@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
html, body {
    height: 90%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.calculadora {
    flex: 1;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.calculadora {
    max-height: 600px;
    display: flex;
    gap: 10px; /* Espacio entre los div internos */
}

.titulo {
    margin: 0;
}

.titulo h1 {
    text-align: center;
    width: 80%;
    font-size: 24px;
    color: rgb(21, 31, 139);
}

.titulo img {
    width: 150px;
    height: 150px;
}

.container-datos {
    background-color: white;
    padding: 20px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    flex: 1;
    overflow-y: auto; /* Para permitir scroll en caso de ser necesario */
}

.container-horas {
    background-color: white;
    padding: 40px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    flex: 1;
    overflow-y: auto; /* Para permitir scroll en caso de ser necesario */
}

.imagen-calculadora {
    max-width: 80%; /* Limita el ancho máximo de la imagen */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Centra la imagen y añade margen inferior */
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-top: 10px;
    color: #333;
}

input[type="text"],
input[type="month"],
input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: inherit; /* Heredar la fuente del elemento padre */
    font-size: 16px; /* Asegurarse de que el tamaño de la fuente sea el mismo */
    color: #333; /* Asegurarse de que el color del texto sea consistente */
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #145dbf;
}

#resultado {
    margin-top: 20px;
    white-space: pre-line;
}

.info {
    font-size: 0.9em;
    color: #555;
}

.footer{
    position: relative;
    --padding-container: 160px 0 50px ;
    margin-top: auto;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;

}

.footer__copyright{
    padding-top: 30px;
    border-top: 2px solid #918484;
    text-align: center;
}

@media (max-width: 768px) {
    .calculadora {
        flex-direction: column;
        max-height: 800px;
        max-width: 700px;
        gap: 10px; /* Ajusta el espacio entre los elementos */
    }

    .titulo {
        padding-top: 2px; /* Ajusta el padding superior */
        margin: 0; /* Elimina márgenes innecesarios */
        padding-left: 10px;
    }

    .subtitulo {
        display: flex;
        align-items: center; /* Alinea verticalmente el h1 y la imagen */
        justify-content: space-between;
        margin: 0;
    }

    .titulo h1 {
        text-align: left; /* Alinea el texto a la izquierda */
        margin: 0;
        width: 50%;
        padding-left: 10px; /* Reduce el padding izquierdo */
        font-size: 18px;
        color: rgb(1, 8, 107);
    }

    .titulo img {
        height: 110px;
        width: 120px;
        padding-top: 30px; /* Reduce el padding superior */
        padding-bottom: 0;
    }

    .container-datos {
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 90%;
        max-width: 325px;
    }

    .container-horas {
        background-color: white;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 10px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 90%;
        max-width: 325px;
        flex: 1;
        overflow-y: auto; /* Para permitir scroll en caso de ser necesario */
    }

    form {
        margin-top: 5px; /* Reduce el margen superior del formulario */
    }

    input[type="text"],
    input[type="month"],
    input[type="number"] {
        font-size: 14px; /* Ajusta el tamaño de la fuente de los inputs */
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    .footer__copyright{
        padding-top: 10px;
        border-top: 2px solid #918484;
        text-align: center;
    }


}

